/*  General Layout */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

#hero-section {
  width: 100%;
  height: 100vh;
  background-color: #f4f5f7;
}

.content-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
  background-color: #faf8f2
}

.content-section.extra-padding {
  padding-top: 150px
}

.content-wrapper {
  width: 100%;
  max-width: 1030px;
  color: #c4c4c4; 
}

.flex {
  display: flex;
}

.flex-horizontal-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-margin {
  margin-top: 40px;
}

#banner-section { 
  height: 200px;
  margin-top: -100px;
  position: absolute;
  width: 100%;
}

.center-box {
  width: 85%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.products-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 30px;
}

.product-grid-item {
  min-height: 200px;
  background-color: #c4c4c4;
  margin: 10px;
}

.deals-section {
  width: 100%;
  margin: 0 auto;
  height: 220px;
  background-image: url(../images/deals.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Typography */

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.h2-light {
  font-size: 26px;
  font-weight: 300;
}

.established {
  font-size: 18px;
  font-weight: 600;
  color: #b3b3b3;
  padding-bottom: 2px;
}

.label {
  font-size: 18px;
  font-weight: 300;
  color: #d09b65;
}

.flex-center .fur {
  margin-left: 25px;
}

.flex-center .nit {
  margin-right: 25px;
}

/* Content */

.hero-nav {
  padding: 40px 70px;
}

.hero-content {
  padding-top: 50px;
  padding-left: 70px;
  -webkit-column-count: 2; /* Old Chrome, Safari and Opera */
  -moz-column-count: 2; /* Old Firefox */
  column-count: 2;
}

.upper-nav {
  display: flex;
  justify-content: flex-end;
}

.lower-nav {
  margin-top: 40px; 
  display: flex;
  justify-content: space-between;
}

.cta-button {
  background: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #d09b65a9;
  padding: 12px 28px;
  font-size: 16px;
  color: #b3b3b3; 
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.cta-button:hover {
  background-color: #d09b65;
  color: #faf8f2;
}

.negative-margin {
  margin-left: -40px;
  margin-top: 100px;
}

.banner {
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;  
}

.banner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;   
  border-width: 0 0.5px 0 0;
  border-style: solid;
  border-color: #b3b3b3c4;
  cursor: pointer;
}

.banner-box:last-child {
  border-width: 0;
}

.banner-box img {
  opacity: 0.8;
}

.gary {
  margin-top: 15px;
  opacity: 0.6;
  transform: rotate(-10deg);
}

/* Navigation */

.fur {
  float: left;
  color: #d09b65;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.nit {
  float: left;
  color: #d09b65;
  font-size: 28px;
  font-weight: 300;
  margin: 0;
}

.search-bar {
  width: 220px;
  border-bottom: 1px solid hsla(0, 0%, 70.7%, 0.75);
}

.text-block {
  display: inline-block;
}

.inline-text {
  display: inline-block;
}

.inline-text.inner-search {
  border: none;
  padding: 0 3px;
  background-image: url('../images/search.png');
  background-position: left; 
  background-repeat: no-repeat;
}

.inner-search {
  width: 100%;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  outline: 0;
}

.nav-link {
  margin-left: 26px;
  color: #c4c4c4;
  font-size: 15px;
  text-decoration: none;
}

.nav-link:hover {
  color: #d09b65;
}

.nav-link.current {
  color: #d09b65;
  font-weight: 500;
}

.nav-menu {
  height: 100%;
}

